APP_NAME="ON-PREMISE-REST-API-FINANCE"
# local|dev|uat|sit|prod
APP_ENV="dev" 
REST_API_PORT=8080
MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_DATABASE=dev-api-fd
MYSQL_USERNAME=root
MYSQL_PASSWORD=root
MYSQL_CONN_MAX_OPEN=10
MYSQL_CONN_MAX_IDLE=10
API_KEY=RANDOMSTRING
PRIVATE_KEY_JWT=""
PUBLIC_KEY_JWT=""